In [1]:
# Data Science Tools and Ecosystem

* In this notebook, Data Science Tools and Ecosytems are summerized.*

# **Objectives: **
- Python 
- R
- Java
- NumPy
- TensorFLow

* Some of the most popular languages that Data Scientist use are:
  1. Python
  2. R
  3. Java

* Some of the commonly used libaries used by Data Scientist include:
  1. NumPy
  2. TensorFlow
  3. Pandas

| Data Science Tools |
| ------------------|
| Jupyter Notebooks|
| Python|
| SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetcial expression to multiply then add integers

In [5]:
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Xiomara Verdis